# =====================================
# Dependencies
# =====================================
node_modules/

# =====================================
# Expo
# =====================================
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# =====================================
# Environment Variables
# =====================================
.env
.env.*
!.env.example

# =====================================
# Native
# =====================================
/ios
/android
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision

# =====================================
# Metro
# =====================================
.metro-health-check*

# =====================================
# Logs
# =====================================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =====================================
# macOS / Windows
# =====================================
.DS_Store
Thumbs.db

# =====================================
# Certificates
# =====================================
*.pem

# =====================================
# TypeScript
# =====================================
*.tsbuildinfo

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# Temporary
# =====================================
app-example